<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:spring="http://www.springframework.org/tags" xmlns:>
<head>
    <title>reCAPTCHA demo: Simple page</title>
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <form action="?" method="POST">
      <div class="g-recaptcha" data-sitekey="6LfaZwwTAAAAAIYaZg-YjCG11XA3tR3HSgs_vb-x" data-theme="clean" ></div>
      <br/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>