<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">

		<section class="content">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">User Setup</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form th:id="userAccountForm" th:object="${userAccount}" th:action="@{/userAccount}" class="form-horizontal" method="post">
					<div class="box-body">
						<div class="form-group">
							<label for="userId" class="col-sm-2 control-label">User ID</label>
							<div class="col-sm-10">
								<div class="input-group">
									<div class="input-group-btn">
										<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
											Action <span class="fa fa-caret-down"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">Add</a></li>
											<li><a href="#">Update</a></li>
										</ul>
									</div>
									<!-- /btn-group -->
									<input th:type="text" th:field="*{userId}" class="form-control" id="userId"
										placeholder="userId">
								</div>
								<!-- /input-group -->
								<!-- <input th:type="text" th:field="*{userId}" class="form-control" id="userId" placeholder="userId"> -->
							</div>
						</div>
						<div class="form-group">
							<label for="manager" class="col-sm-2 control-label">Manager</label>
							<div class="col-sm-10">
								<div class="input-group">
                    <input th:type="text" class="form-control" name="manager" data-provide="typeahead" id="manager">
                    <span class="input-group-btn">
                      <button class="btn btn-info btn-flat" type="button" data-toggle="modal" data-target="#myModal">Get</button>
                    </span>
                </div><!-- /input-group -->
							</div>
						</div>
						<div class="form-group">
              <label for="username" class="col-sm-2 control-label">User Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="User Name">
              </div>
            </div>
            <div class="form-group">
            	<div class="form-inline">
								<label for="idno" class="col-sm-2 control-label">I.D. No.</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="idno" placeholder="I.D. No.">
								</div>
								<label for="salescode" class="col-sm-2 control-label">Sales Code</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="salescode">
								</div>
							</div>
            </div>
            <div class="form-group">
            	<div class="form-inline">
								<label for="sex" class="col-sm-2 control-label">Sex</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="sex">
								</div>
								<label for="birthday" class="col-sm-2 control-label">Birthday</label>
								<div class="col-sm-4">
                      <input type="text" class="form-control pull-right" id="birthday">
								</div>
							</div>
            </div>
						<!-- Modal -->
						<div class="modal fade" id="myModal" role="dialog">
							<div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal Default</h4>
                  </div>
                  <div class="modal-body">
                    <div id="tree"></div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
						</div>
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<!-- <button type="submit" class="btn btn-default">Cancel</button> -->
						<button type="submit" class="btn btn-info pull-right">Submit</button>
					</div>
					<!-- /.box-footer -->
				</form>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</section>
		<script>
		function getTree() {
	    	  var tree = [
	        {
	          text: "Parent 1",
	          nodes: [
	            {
	              text: "Child 1",
	              nodes: [
	                {
	                  text: "Grandchild 1"
	                },
	                {
	                  text: "Grandchild 2"
	                }
	              ]
	            },
	            {
	              text: "Child 2"
	            }
	          ]
	        },
	        {
	          text: "Parent 2"
	        },
	        {
	          text: "Parent 3"
	        },
	        {
	          text: "Parent 4"
	        },
	        {
	          text: "Parent 5"
	        }
	      ];
	    	  return tree;
	    	}
      $(function() {
          try {
        	  $("#userId").autocomplete({
    	            source: function (request, response) {
    	                $.getJSON("http://localhost:7001/web/getAccExecList", {
    	                    term: request.term
    	                }, response);
    	            }
    	        });

          	  /* $('#manager').typeahead({        
          	        local: ['alpha','allpha2','alpha3','bravo','charlie','delta','epsilon','gamma','zulu']
          		}); */

          	 /* $("#myModal").modal({backdrop: "static"}); */

        	$('#tree').treeview({data: getTree()});

        	$('#birthday').daterangepicker({
        		 singleDatePicker: true,
        	   showDropdowns: true
         	});
          } catch(err) {
              alert(err);
          }
                 
	    });
      
      
    	
    </script>
	</div>
</body>
</html>