<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<section class="content">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">User List</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form th:id="userListForm" th:object="${searchingCriteria}"
					th:action="@{/accountsetup/userlist}" class="form-horizontal" method="post">
					<div class="box-body">
						<div class="form-group">
							<label for="inputAccountFrom" class="col-sm-2 control-label">Account From</label>
							<div class="col-sm-10">
								<input th:type="text" th:field="*{accountFrom}" class="form-control" id="inputAccountFrom"
									placeholder="Account From">
							</div>
						</div>
						<div class="form-group">
							<label for="inputAccountTo" class="col-sm-2 control-label">Account To</label>
							<div class="col-sm-10">
								<input th:type="text" th:field="*{accountTo}" class="form-control" id="inputAccountTo"
									placeholder="Account To">
							</div>
						</div>
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<!-- <button type="submit" class="btn btn-default">Cancel</button> -->
						<button type="submit" class="btn btn-info pull-right">Show</button>
					</div>
					<!-- /.box-footer -->
				</form>
				<!-- Data -->
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Data Table With Full Features</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>User ID</th>
									<th>Manager</th>
									<th>User Name</th>
									<th>I.D. No.</th>
									<th>Sales Code</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="resultItem : ${result}">
									<td><span th:text="${resultItem.ae}"></span></td>
									<td><span th:text="${resultItem.manager}"></span></td>
									<td><span th:text="${resultItem.name}"></span></td>
									<td><span th:text="${resultItem.hkid}"></span></td>
									<td><span th:text="${resultItem.salesCode}"></span></td>
								</tr>
							</tbody>
							<!-- <tfoot>
								<tr>
									<th>Rendering engine</th>
									<th>Browser</th>
									<th>Platform(s)</th>
									<th>Engine version</th>
									<th>CSS grade</th>
								</tr>
							</tfoot> -->
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
	</div>
	<!-- /.box -->
	</section>
	</div>
</body>
</html>